@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #030303;
    font-family: 'Bebas Neue', cursive;
    color: #FFFFFF;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.header {
    background-image: url(./Imgs/Banners/better-call-saul-season1-4233018096.jpg);
    background: position 100px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
   
   
}


.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#video-banner{
    width: 100%;
    height:auto;
}
.video-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:1;
    color: #FFFFFF;
    text-align: center;
}
.video-text h1 {
    font: 4em;
    margin: 0;
    padding: 0;

}
.video-text p{
    font-size: 2em;
    margin-top: 0;
    padding: 0;
}
.video-text a{
    display: inline-block;
    border: 2px solid #fff;
    padding: 10px 20px;
    font-size: 1.5em;
    margin: top 20px;
    text-decoration: none;
    color: #FFFFFF;
}
.logo {
    font-size: 35px;
    color: #FFFFFF;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 22px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #FF2F28;
}
.paginas ul li {
    position: relative;
    float: left;
}

.paginas ul li a {
    font-size: 22px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
}

.paginas ul li a:hover {
    color: #FF2F28;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
    width: 100%;
   
}

.header-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: flex-end;
}

.header-1 img {
    width:max-content;
}

.header-2 {
    width: 50%;
    margin-top: 80px;
    text-align: end;
}

.header-2 h1 {
    color: #FFFFFF72;
    font-size: 80px;
    line-height: 80px;
}

.header-2 img {
    width: 70px;
    
}

.btn-1 {
    display: inline-block;
    padding: 7px 20px;
    background-color: #FF2F28;
    color: #FFFFFF;
    font-size: 20px;
}

.btn-2 {
    width: 110px;
    display: inline-block;
    padding: 7px 20px;
    background-color: #FF2F28;
    font-size: 20px;
    margin-top: 30px;
    color: #FFFFFF;
}

.movies {
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

hr {
    border: 1px solid #FF2F28;
    width: 50%;
    margin-bottom: 40px;
}

.box-container-1 ,
.box-container-2 ,
.box-container-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 40px;
}

.box-1 ,
.box-2 ,
.box-3 {
    border-radius: 5px;
    z-index: 1000;
    display: none;
}


.box-3:nth-child(1),
.box-3:nth-child(2),
.box-3:nth-child(3),
.box-3:nth-child(4),
.box-3:nth-child(5),
.box-3:nth-child(6),
.box-3:nth-child(7),
.box-3:nth-child(8) {
    display: inline-block;
}

.load-more {
    margin-top: 40px;
    display:  inline-block;
    padding: 10px 25px;
    border-radius: 15px;
    border:  1px solid #FF2F28;
    color: #FF2F28;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end;
}

.load-more:hover {
    background-color: #FF2F28;
    color: #FFFFFF;
}

.content img {
    width: 100%;
    margin-bottom: 15px;
}

.content h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.content {
    color:#CFCFCF;
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    margin-top: 100px;
    border-top: 1px solid #FF2F283D;
}

.footer ul {
    display: flex;
}

footer h3 {
    font-size: 30px;
}

.footer a {
    color: #FFFFFF;
    font-size: 20px;
    margin-right: 20px;
    display: block;
}

.footer a:hover {
    color: #FF2F28;
}

@media (max-width:991px) {

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #030303;
        display: none;
    }
    
    .menu .navbar ul li {
        width: 100%;
    }

    .btn-1 {
        display: none;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header-content {
        flex-direction: column;
        padding: 180px 30px 30px 30px;
    }

    .header-1 {
        width: 100%;
        align-items: center;
    }

    .header-2 {
        width: 100%;
        text-align: center;
    }
    
    .movies {
        padding: 30px;
    }

    .footer {
        margin-top: 30px;
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .footer ul {
        margin-top: 15px;
        
    }
   

}
