@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #030303;
    font-family: 'Bebas Neue', cursive;
    overflow-x: hidden;
}

#h2{
    font-family: 'Bebas Neue', cursive;
    margin-left: 300px;
    color: #FFFFFF;
}

#hrh1 {
    font-family: 'Bebas Neue', cursive;
    border: 1px solid #FF2F28;
    width: 47%;
    margin-bottom: 40px;
    margin-left: 500px;
}

#hr {
    border: 1px solid #FF2F28;
    width: 20%;
    margin-bottom: 40px;
    margin-left: 300px;
}

#textoMain {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    color: #FFFFFF;
}

#cuerpo{
    background-color: #000000;
    overflow-x: hidden;
}

#navbar {
    font-family: 'Bebas Neue', cursive;
    color: #FFFFFF;
    font-size: 32px;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    padding: 20px;
    position: absolute;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    z-index: 1000;
}

#peliculas{
    margin-right: auto;
    margin-left: 300px;
    box-sizing: border-box;
}

#series{
    margin: auto;
    box-sizing: border-box;
}

#estrenos{
    margin-left: auto;
    margin-right: 300px;
    box-sizing: border-box;
}


#iniciar-sesion{
    margin-left: auto;
    margin-right: 415px;
    box-sizing: border-box;
    z-index: 1000;
}

#cac-movies{
    margin-right: auto;
    margin-left: 300px;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}
.carousel-inner {
    height: 500px;
}
.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: center;
}

.carousel-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
}

.grid-item {
    width: 100%; 
}

.carousel-peliculas{
    display: flex;
    justify-content: center;
    margin: auto;
}

#form-busqueda input {
    border-radius: 20px;
    padding: 10px 10px;
    border: none;
    color: var(--gris);
    text-transform: capitalize;
    width: 50vw;
}

#form-busqueda button {
    border-radius: 20px;
    padding: 10px 10px;
    min-width: 10vw;
    border: 2px solid white;
    background-color: #FF2F28;
    color: white;
    margin-left: 1vw;
}
.search-bar {
    padding: 20px;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.register-btn {
    display: block;
    margin: 50px auto;
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #FF2F28;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.register-btn:hover {
    background-color: #23527c;
}
.footer {
    background-color: #FF2F28;
    color: #fff;
    padding: 20px;
    text-align: center;
}
